* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    margin: auto;
    max-width: 700px;   
    font-family: 'roboto', sans-serif;
}

form {
    padding-top: 50px;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.group {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.results {
    flex: 2;    
    border: 1px solid black;
    padding: 5%;
    margin-right: 2%;
}